/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");


/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";


/* custom components */

@import "components/sidebar.css";
@import "components/input.css";
@import "components/alert.css";
@import "components/button.css";
@import "components/card.css";
@import "components/code.css";
@import "components/typography.css";
@import "components/badge.css";
@import "components/select2_custom.css";
@import "components/datatables_custom.css";
@import "@tailwindcss/custom-forms/dist/custom-forms.min.css";


/* tailwind utilities, di pasang di akhir biar bisa override lewat component & template*/
@import "tailwindcss/utilities";

@import "components/global.css";