.input-is-invalid {
    @apply bg-red-200 border-2 border-red-500;
}

.alert-warning {
    @apply text-yellow-100 bg-yellow-500;
}

.alert-danger {
    @apply text-red-500 bg-red-200;
}

.alert {
    @apply px-6 py-4 mt-5 text-sm font-semibold rounded;
    a {
        @apply text-base font-extrabold text-black transition duration-300 ease-in-out hover:opacity-75;
    }
}

.alert-default {
    @apply text-green-500 bg-green-100 border-green-200;
    a {
        @apply text-green-700;
    }
}

.alert-light {
    @apply text-gray-600 bg-gray-100 border-gray-300;
    a {
        @apply text-gray-700;
    }
}

.alert-dark {
    @apply text-white bg-gray-700 border-gray-900;
    a {
        @apply text-gray-500;
    }
}

.alert-success {
    @apply text-green-500 bg-green-200 border-green-300;
    a {
        @apply text-green-700;
    }
}

.alert-error {
    @apply text-red-500 bg-red-200 border-red-300;
    a {
        @apply text-red-700;
    }
}

.alert-close {
    @apply flex flex-row-reverse;
    button.alert-btn-close {
        @apply transition duration-300 ease-in-out hover:opacity-75;
    }

    span {
        @apply flex-1;
    }
}
