/* global styling */

html {
  scroll-behavior: smooth;
}

body {
    /* font-family: "Ubuntu"; */
    table-layout: auto !important;
}

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary-lighter rounded-2xl;
    &:hover{
        @apply bg-primary;
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}