.form-input,
.form-select,
.form-textarea,
.select2.select2-container {
    background-color: rgb(249, 250, 251) !important;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[readonly].form-input {
    box-shadow: none;
    background-color: rgb(243, 244, 246) !important;
    cursor: not-allowed;
}

.select2.select2-container {
    border-color: #e2e8f0 !important;
    border-width: 1px !important;
    border-radius: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-right: 0.75rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.select2-selection {
    background-color: rgb(249, 250, 251) !important;
    min-height: 0 !important;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 9px !important;
}
